<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-title>
      <ion-item color="light">
      <h1>Cardápio</h1>
    </ion-item>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="warning">

  <ion-list-header>
    <ion-label>
      <h1>Bebidas</h1>
    </ion-label>
  </ion-list-header>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card>
        <img src="https://static.clubeextra.com.br/img/uploads/1/414/19804414.jpg">
        <ion-item>
        <ion-label>Guaraná</ion-label>
      </ion-item>
      <ion-label> R$ 5,00
        <ion-button slot="end">
            <ion-icon name="cart-outline"></ion-icon>
        </ion-button>
        </ion-label>
      </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>
